/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* FONTS URL*/
@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");

/* GENERAL */
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	scroll-behavior: smooth;
}

img {
	display: block;
	height: auto;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
	font-family: "Barlow", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

.site-wrap {
	width: 100%;
	height: 100vh;
	background-image: url("../images/girl-img.png"), url("../images/hero-bg.png"),
		url("../images/site-bg.png");
	background-size: contain, contain, cover;
	background-repeat: no-repeat;
	background-position: calc(50% - 450px) calc(50% + 30px), left, center;
}

.site-header {
	padding: 25px 0;
}

.header-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header-nav {
	padding: 15px 7px;
	background: -o-radial-gradient(
		50% 50%,
		50% 50%,
		rgba(18, 32, 47, 0.7) 0%,
		rgba(33, 56, 83, 0.7) 100%
	);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(18, 32, 47, 0.7) 0%,
		rgba(33, 56, 83, 0.7) 100%
	);
	border-radius: 50px;
}

.header-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-item:not(:last-child) {
	margin-right: 36px;
}

.header-link {
	padding: 12px 38px;
	font-family: "Quantico", sans-serif;
	line-height: 19px;
	border-radius: 50px;
	color: #fff;
	opacity: 0.6;
}

.active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#44bbfe), to(#1e78fe));
	background-image: -o-linear-gradient(top, #44bbfe 0%, #1e78fe 100%);
	background-image: linear-gradient(180deg, #44bbfe 0%, #1e78fe 100%);
	opacity: 1;
}

/* HERO START */
.hero {
	height: auto;
}

.hero-wrap {
	position: relative;
	height: 80vh;
}

.hero-text {
	display: inline-block;
	width: 425px;
	margin-top: 40px;
	margin-right: 12px;
	padding: 30px;
	margin-left: 425px;
	font-size: 20px;
	line-height: 39px;
	color: #fff;
	background: -o-radial-gradient(
		50% 50%,
		50% 50%,
		rgba(18, 32, 47, 0.9) 0%,
		rgba(33, 56, 83, 0.9) 100%
	);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(18, 32, 47, 0.9) 0%,
		rgba(33, 56, 83, 0.9) 100%
	);
	border-radius: 18px;
	border: 2px solid #37a4e3;
}

.hero-speach-wrap {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.hero-speach-btn-wrap {
	position: relative;
	top: 100px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 257px;
	height: 257px;
	margin-bottom: 70px;
	background-image: url("../images/button-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-speach-btn {
	width: 132px;
	height: 132px;
	background-image: url("../images/button-img.png");
	background-repeat: no-repeat;
	background-size: 130px;
	background-position: center;
	border-radius: 419px;
	border: 5px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.hero-speach-text {
	font-size: 18px;
	color: #3d5774;
}

.theme-btn {
	position: absolute;
	top: 0;
	right: 0px;
	width: 74px;
	height: 74px;
	background-image: url("../images/light-bg.png"),
		-webkit-gradient(linear, left top, left bottom, from(#fed544), to(#fe7c1e));
	background-image: url("../images/light-bg.png"),
		-o-linear-gradient(top, #fed544 0%, #fe7c1e 100%);
	background-image: url("../images/light-bg.png"),
		linear-gradient(180deg, #fed544 0%, #fe7c1e 100%);
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #d1ac25;
	-webkit-box-shadow: 0px 18.4169px 36.8339px rgba(254, 205, 32, 0.4);
	        box-shadow: 0px 18.4169px 36.8339px rgba(254, 205, 32, 0.4);
	border-radius: 50%;
}

.question-btn {
	position: absolute;
	bottom: 0;
	right: 0px;
	width: 74px;
	height: 74px;
	background-image: url("../images/question-bg.png"),
		-webkit-gradient(linear, left top, left bottom, from(#ce44fe), to(#9b1efe));
	background-image: url("../images/question-bg.png"),
		-o-linear-gradient(top, #ce44fe 0%, #9b1efe 100%);
	background-image: url("../images/question-bg.png"),
		linear-gradient(180deg, #ce44fe 0%, #9b1efe 100%);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

@media only screen and (max-width: 1310px) {
	.site-wrap {
		background-size: 350px, contain, cover;
		background-repeat: no-repeat;
		background-position: calc(50% - 450px) calc(50% + 30px), left, center;
	}

	.logo-img {
		width: 210px;
	}

	.header-link {
		font-size: 14px;
	}

	.hero-text {
		width: 340px;
		font-size: 16px;
		margin-left: 300px;
	}

	.theme-btn {
		width: 60px;
		height: 60px;
	}

	.hero-speach-text {
		font-size: 16px;
	}

	.question-btn {
		width: 60px;
		height: 60px;
	}
}

@media only screen and (max-width: 1200px) {
	.site-wrap {
		background-position: calc(50% - 400px) calc(50% + 30px), left, center;
	}
	.hero-text {
		margin-left: 250px;
	}

	.hero-speach-btn-wrap {
		width: 220px;
		height: 220px;
	}

	.hero-speach-btn {
		width: 110px;
		height: 110px;
		background-size: 110px;
	}
}

@media only screen and (max-width: 1100px) {
	.site-wrap {
		background-position: calc(50% - 350px) calc(50% + 30px), left, center;
	}

	.hero-text {
		font-size: 13px;
		width: 250px;
		padding: 20px;
		line-height: 30px;
	}
}

@media only screen and (max-width: 1000px) {
	.site-wrap {
		background-position: calc(50% - 300px) calc(50% + 30px), left, center;
	}
}

@media only screen and (max-width: 920px) {
	.hero-speach-text {
		font-size: 13px;
	}
}

@media only screen and (max-width: 870px) {
	.site-wrap {
		background-position: calc(50% - 250px) calc(50% + 30px), left, center;
	}

	.hero-text {
		padding: 10px 15px;
		line-height: 24px;
	}

	.hero-speach-btn-wrap {
		width: 180px;
		height: 180px;
	}

	.hero-speach-btn {
		width: 90px;
		height: 90px;
		background-size: 90px;
	}
}

@media only screen and (max-width: 850px) {
	.site-wrap {
		background-size: 200px, cover, cover;
		background-position: calc(50%) calc(50% - 130px), left top, center;
	}

	.header-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border-radius: 12px 12px 0px 0px;
	}

	.header-list {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		white-space: wrap;
	}

	.header-item:not(:last-child) {
		margin-right: 0;
	}

	.header-link {
		padding: 10px 25px;
	}

	.theme-btn {
		top: -80px;
		width: 40px;
		height: 40px;
		background-size: 25px, cover;
	}

	.question-btn {
		top: -20px;
		width: 40px;
		height: 40px;
		background-size: 45px, cover;
	}

	.hero-text {
		position: absolute;
		bottom: 50px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 12px;
	}

	.hero-speach-wrap {
		position: relative;
		top: 80px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

@media only screen and (max-width: 500px) {
	.site-wrap {
		background-size: 150px, cover, cover;
		background-position: calc(50%) calc(50% - 130px), left top, center;
	}

	.header-nav {
		padding: 8px 5px;
	}

	.header-list {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.header-link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 13px;
		text-align: center;
	}

	.hero-text {
		font-size: 11px;
		line-height: 20px;
	}

	.hero-speach-wrap {
		top: 60px;
	}

	.hero-speach-btn{
		margin-bottom: 0;
	}

	.hero-speach-text {
		font-size: 12px;
	}
}

@media only screen and (max-width: 425px) {
	.site-wrap {
		background-position: calc(50%) calc(50% - 130px), calc(50%), center;
	}

	.hero-text {
		bottom: 70px;
	}

	.hero-speach-btn-wrap {
		width: 150px;
		height: 150px;
	}

	.hero-speach-btn {
		width: 65px;
		height: 65px;
		background-size: 70px;
	}
}